*{
  font-family: system-ui;
}
.btn-go{
  background-color: rgb(80, 202, 80);
width: 200px;
height: 50px;
  border-radius: 30px;
}
.btn-go:hover{
  background-color: rgb(28, 116, 28);
}
.lang{
position: absolute;
right: 10px;
border-radius: 20px;
}
.Body{
  margin: 100px ;

}
.feature {
  display: flex;
  gap: 10px; /* spacing between images */
}

.feature img {
display: flex;
gap: 10px;
}
.infinity{
  height: 40px;
}
.header{
  width: 100%;          /* or any width you want */
  height: 400px;        /* or any height you want */
  background-image: url('/StockImages/homepage-pingzhu-hero-bg-opt-v2-3ce3022343c7ad918545a6a2e01f36b5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}